!pip install tqdm
!pip install numpy==1.26.3
!pip install numexpr
!pip install h5py==3.11.0
!pip install opencv-python==4.10.0.82
!pip install ffmpeg-python==0.1.17
!pip install scikit-image==0.23.2
!pip install scipy==1.14.1
!pip install colorama
!pip install tensorflow
!pip install tf2onnx==1.16.1


import colorsys
import math
from enum import IntEnum

import cv2
import numpy as np
import cv2
import numpy.linalg as npla
